{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1>Register</h1>

        <form method="POST" class="project-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}

            <button type="submit" class="button">
                Register
            </button>
        </form>

        <p>
            Sudah punya akun?
            <a href="{% url 'main:login' %}">Login di sini</a>
        </p>
    </div>
</section>
{% endblock content %}